<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Senha</th>
                <th>Data de Nascimento</th>
                <th>Gênero</th>
            </tr>
        </thead>
        <tbody>
            {% for u in usuarios %}
                <tr>
                    <td>{{u.nome}}</td>
                    <td>{{u.sobrenome}}</td>
                    <td>{{u.senha}}</td>
                    <td>{{datetime.datetime.strftime(u.dataDeAniversario, "%d/%m/%Y")}}
                    <td>{{u.genero}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>